<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='assets/loguinho.svg')}}">
  <title>Air Control | {{  pagina  }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/fontawesome-free-6.0.0-beta2-web/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/conteudoPagInicial.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pagInicial.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/quemSomos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/faleConosco.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/menuSuperior/menuSuperior.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/modal/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/rodape/rodape.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/sidebar/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pagInicialComprado.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}">

</head>

<body style="overflow: hidden; padding: 0;">
    
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class="container_aviso">
      {% for message in messages %}
          <li class="aviso">{{ message }}</li>
      {% endfor %}
      </ul>
  {% endif %}
  {% endwith %}

  <input type="checkbox" id="check">
  <div class="sidebar">
    <header><img src="{{ url_for('static', filename='assets/loguinho.svg') }}" alt="Logo Air Control" width="30" class="logo"></header>
      {% with logado= session['logado']%}
        {% if logado %}
          <a href="{{url_for('produto_comprado')}}" class="active">
        {% else %}
          <a href="{{url_for('index')}}" class="active">
        {% endif %}
      {% endwith %}
      <span>Página Inicial</span>
    </a>
    <a href="{{url_for('quemsomos')}}">
      <span>Quem somos?</span>
    </a>
    <a href="{{url_for('faleconosco')}}">
      <span>Fale conosco</span>
    </a>
  </div>
  <div class="menu_superior">
    <div class="itens">
      <div class="itens_left">
        <label for="check">
          <i class="fas fa-bars" style="left: 250px; top: 1%;" id="btn">

          </i>
        </label>
      </div>
      <div class="itens_right">
        {% with logado= session['logado']%}
        {% if logado %}
            <a href="{{url_for('logout')}}">
              <img src="{{ url_for('static', filename='assets/exit.svg') }}" alt="Sair" width="30" class="imgCompradoR">
            </a>
        {% else %}
            <div class="itens_right">
                <button id="cad" class="cadLogin">Cadastre-se</button>
                <button id="login" class="cadLogin">Login</button>
            </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>

    {% block conteudo %}
    

    {% endblock %}

    <footer>
        <div class="rodapeItens">
          <div class="rodape_left">
            <img src="{{ url_for('static', filename='assets/airControlLogo.svg') }}" alt="Logo da empresa Air Control" width="200" id="logoRodape">
            <p class="contato">Telefone: (xx) xxxxx-xxxx <br><br> E-mail: aircontrol_contato@gmail.com</p>
          </div>
          <div class="rodape_right">
            <a href="#" class="redes"><img src="{{ url_for('static', filename='assets/tt.svg') }}" alt="Ícone do Twitter" width="30" class="imgRedes"></a>
            <a href="#" class="redes"><img src="{{ url_for('static', filename='assets/insta.svg') }}" alt="Ícone do Instagram" width="30" class="imgRedes"></a>
            <a href="#" class="redes"><img src="{{ url_for('static', filename='assets/fb.svg') }}" alt="Ícone do Facebook" width="30" class="imgRedes"></a>
          </div>
        </div>
      </footer>
    
      <div id="modalPrincipalCadastro" class="modal-container-cadastro">
        <div class="modal-cadastro">
          <button class="sairCad">X</button>
          <h2 class="tituloCadastro">Cadastro</h2>
          <br><br><br>


          <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">

            <figure  class="img_container">
              <img class="img_test" src="{{ url_for('imagem', nome_arquivo = 'foto_padrao.jpg')}}">
            </figure>

            <label for="imagem" class="fileContainer">
              Alterar imagem
              <input type="file" id="imagem" name="imagem" >
            </label>

            <input type="hidden" name ="proxima" value="{{pagina}}">
            <label for="nomeCad">Nome completo</label>
            <input type="text" name="nome" id="nomeCad" class="inputs">
            <label for="emailCad">E-mail</label>
            <input type="text" name="email" id="emailCad" class="inputs">
            <label for="telefoneCad">Telefone</label>
            <input type="text" name="telefone" id="telefoneCad" class="inputs">
            <label for="codigoCad">Código de Cadastro(senha)</label>
            <input type="text" name="chave" id="codigoCad" class="inputs">
            <br>
            <input class="botaoEntrarCadastro" type="submit" value="Cadastrar">
          </form>
        </div>
      </div>
    
      <div id="modalPrincipalLogin" class="modal-container-login">
        <div class="modal-login">
          <button class="sairLog">X</button>
          <h2 class="tituloLogin">Login</h2>
          <br><br>
          <form action="{{ url_for('autenticar') }}" method="post">
          <label for="email" class="emailSenhaLog">E-mail</label>
          <input type="text" name="email" id="email" class="inputs">
          <label for="senha" class="emailSenhaLog">Senha</label>
          <input type="text" name="chave" id="senha" class="inputs">
          <br><br>
          <input class="botaoEntrarLogin" type="submit" value="Entrar">
          </form>
        </div>
      </div>
    
      <script src="{{url_for('static', filename='js/modal.js')}}"></script>
      <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
      <script src="{{url_for('static', filename='js/app.js')}}"></script>
    </body>
    
    </html>